<div class="container register-form">
    <div class="com-md-12">
        <h2>Register</h2>
        <hr />
        {{#if errorMessage}}
        <div class="alert alert-danger">
            <strong>Error:</strong> {{errorMessage}}
        </div>
        {{else if successMessage}}
        <div class="alert alert-success">
            <strong>Success:</strong> {{successMessage}}
        </div>
        <a class="btn btn-success pull-right" href="/login">"&nbsp;&nbsp;&nbsp;Proceed to Log
            in&nbsp;&nbsp;&nbsp;</a><br /><br /><br />
        {{else}}
        <form method="POST" action="/register">
            <div class="row">
                <div class="com-md-12">
                    <div class="form-group">
                        <input class="form-control" name="userName" type="text" placeholder="User Name" value=""
                            required autofocus>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="com-md-12">
                    <div class="form-group">
                        <input class="form-control" name="password" type="text" placeholder="Password" required>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="com-md-12">
                    <div class="form-group">
                        <input class="form-control" name="password2" type="text" placeholder="Confirm Password"
                            required>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="com-md-12">
                    <div class="form-group">
                        <input class="form-control" name="email" type="text" placeholder="Email Address" required>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-success pull-right">Register</button>
        </form>
        {{/if}}
    </div>
</div>